@font-face {
  font-family: myFirstFont;
  src: url(poppins-v2-latin-regular.woff);
  }
body {
   padding: 60px;
    color: rgb(50,50,50);
    font-size: 30px;
    font-family: 'myFirstFont';
}
h1 {
   color: rgb(160, 80, 255);
}
#errorMessage{
   font-size:40 px;
   color: rgb(255, 50, 60);
}

#TodosList{
   font-size:40 px;
   color: rgb(40,151,255);
   list-style-type: none;
}
#addField{
   box-shadow: focus;

}
.addButton{
 
  color: rgb(255, 50, 60);
}
.box1{
color: rgb(255, 50, 60);
}
.box2{
  color: rgb(160, 80, 255);
}